*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier{
    
   background-color: rgb(219, 241, 248);
   padding-left: 30px;
   padding-bottom: 30px;
    
}
.container__1{
    display: flex;
    flex-direction: column;
    
}
.input__wrap input{
    display: flex;
    flex-direction: column;
    height: 30px;
    width:200px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    



}
.paymentbox{
   border: black solid 2px;
   width:250px ;
   height: 30px;
   border-radius: 5px;
   margin-top: 15px;
   
   font-weight: lighter;
   background-color: white;
   font-size: small;
   flex-direction: row;
   display: flex;
   justify-content: space-between;
padding-top: 5px;
   

}
.paymentbox img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding-bottom: 5px;
   
   
    
}
.Bill{
    font-size: larger;
    font-family: sans-serif;
    padding-bottom: 12px;
    padding-top: 12px;
    
}
.paymentinfo{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}

.logo{
    border: black solid 2px;
    width:60px ;
    height: 20px;
    border-radius: 3px;
    margin-left: 8px;
   background-color: white;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border: none;
    

}
.logo img{
    width:60px ;
    height: 40x;
    cursor: pointer;
    border: none;
}
.input__wrap label{
padding-bottom: 10px;


}
p{
    margin-top: 20px;
    margin-bottom: 10px;
}
.button input{
    
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: point;
    margin-top: 20px;
}



